h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a:hover {
    text-decoration: none;
}

.row {
    margin: 0;
}

body {
    font-family: 'Quattrocento Sans';
    font-weight: 700;
}

body::-webkit-scrollbar {
    width: 13px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #1d8f81;
    border: 2px solid #fff;
}

body::-webkit-scrollbar-track {
    background: #fff;
}

.main__nav {
    background: #1d2126;
    width: 100%;
    position: fixed;
    z-index: 1;
    padding: 25px;
}

.main__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.menu__link {
    color: #a4aead;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
    width: 85px;
    display: inline-block;
    text-align: center;
    margin: 0 10px;
    padding: 7px 10px;
    border: 2px solid;
    border-color: transparent;
    /* transition: 0.5s; */
}

.menu__link:hover {
    color: #a4aead;
}

.active {
    color: #23b7a4;
    border: 2px solid #23b7a4;
    border-radius: 4px;
    padding: 7px 10px;
    margin: 0 10px;
    text-transform: uppercase;
    font-size: 14px;
    display: inline-block;
}

.active:hover {
    color: #23b7a4;
    border-color: #23b7a4;
}

.navbar-toggler {
    border: 3px solid #23b7a4;

    text-align: center;
}

.navbar-toggler:focus {
    outline: none;

}

.navbar-toggler-icon {
    width: 18px;
    height: 21px;
    color: #23b7a4;
    font-size: 20px;
    text-align: center;
}

.header-item {
    position: relative;
}

.header-item__img {
    width: 100%;
    height: 800px;
}

.header {
    position: absolute;
    top: 8%;
    left: 20%;
}

.header-title {
    padding-top: 225px;
    text-transform: uppercase;
    font-size: 36px;
    color: #fff;
    margin-bottom: 32px;
}

.header-subtitle {
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 400;
    color: #ccd0d7;
    max-width: 577px;
    margin-bottom: 41px;
}

.header-button__left,
.header-button__right {
    background: none;
    border-radius: 5px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    border: 2px solid #fff;
    padding: 17px 24px;
    color: #fff;
    margin: 0 5.5px 250px;
    transition: 0.5s;
}

.header-button__left:hover,
.header-button__right:hover {
    color: #fff;
    background: #39a493;
    border-color: #39a493;
}

.header-button__left:focus,
.header-button__right:focus {
    outline: none;
}

.slick-list {
    position: relative;
}

.slick-dots {
    display: flex;
    position: absolute;
    bottom: 5%;
    right: 21%;
}

.slick-dots button {
    display: none;
}

.slick-dots li {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin: 0 4.5px;
}

.slick-dots li.slick-active {
    background: #fff;
}

.subtitle {
    font-size: 36px;
    color: #292f36;
    text-transform: uppercase;
    position: relative;
    margin-left: 23px;
}

.subtitle:before {
    content: "";
    height: 35px;
    width: 10px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    background: #e1e6ea;
    position: absolute;
    top: 67%;
    left: -2%;
}

.about {
    border-bottom: 3px solid #dde1e4;
}

.about__subtitle {
    padding-top: 80px;
    margin-left: 23px;
    margin-bottom: 60px;
}

.about__text-1,
.about__text-2 {
    font-size: 16px;
    color: #8d8f92;
    font-family: 'Open Sans';
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 37px;
}

.about__text-2 {
    margin-bottom: 104px;
}

.about__box {
    height: 50px;
    width: 50px;
    background: #23b7a4;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 20px;

}

.media__title {
    font-size: 18px;
    color: #292f36;
    text-transform: uppercase;
}

.media__subtitle {
    font-size: 16px;
    color: #8d8f92;
    line-height: 26px;
    font-family: 'Open Sans';
    font-weight: 400;
}

.about__social .fab {
    width: 60px;
    height: 60px;
    font-size: 24px;
    color: #fff;
    background: #c8cdd0;
    text-align: center;
    line-height: 60px;
    margin-right: 1px;
    transition: 0.4s;
    margin-bottom: 100px;
}

.about__social .fab:hover {
    background: #23b7a4;
    color: #fff;
}

.team__subtitle {
    padding-top: 80px;
    margin-bottom: 60px;
}

.team__team-content {
    margin-bottom: 100px;
}

.team__card {
    border: none;
}

.team__card-body {
    background: #e1e6ea;
    padding: 21px 20px;
    transition: 0.5s;
}

.team__card-title {
    font-size: 16px;
    color: #292f36;
    text-transform: uppercase;
    margin-bottom: 9px;
}

.team__card-text {
    font-size: 14px;
    color: #8d8f92;
}

.team__img {
    position: relative;
    width: 100%;
}

.team .col-xl-3:hover .team__img {
    opacity: 0.6;
}

.team__social {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
}

.team .col-xl-3:hover .team__card-body {
    background: #3a454d;
}

.team .col-xl-3:hover .team__card-title,
.team .col-xl-3:hover .team__card-text {
    color: #f2f3f3;
}

.team__social .fab {
    height: 50px;
    width: 50px;
    color: #fff;
    line-height: 50px;
    background: #3a454d;
    text-align: center;
    margin-right: 1px;
}

.team__social .fab:hover {
    background: #4e5a62;
}

.team__social {
    opacity: 0;
    transition: 0.4s;
}

.team__card:hover .team__social {
    opacity: 1;
}

.work {
    background: #3a454d;
}

.work__subtitle {
    padding-top: 80px;
    margin-bottom: 60px;
    color: #fff;
}

.work__subtitle:before {
    background: #4e5a62;
}

.work__card {
    border: none;
    margin-bottom: 30px;
}

.work__card-body {
    background: #292f36;
    padding: 0;
    position: absolute;
    top: 65.5%;
    width: 92.5%;
    opacity: 0;
    transition: 0.4s;
}

.work__card:hover .work__card-body {
    opacity: 1;
}

.work__card-title {
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    margin: 0;
    padding: 24px 20px 22px;
}

.work__button {
    display: inline-block;
    margin: 30px auto 60px;
}

.work__button-link {
    color: #ffff;
    padding: 15px 20px;
    border: 2px solid #fff;
    text-transform: uppercase;
    border-radius: 5px;
    transition: 0.5s;
}

.work__button-link:hover {
    color: #fff;
    background: #23b7a4;
    border-color: #23b7a4;
}

.work__img {
    position: relative;
    width: 100%;
}


.services__subtitle {
    padding-top: 80px;
    margin-bottom: 90px;
}

.services__item {
    text-align: center;
    margin-bottom: 95px;
}

.services .fas,
.services .far {
    font-size: 40px;
    color: #23b7a4;
    margin-bottom: 35px;
}


.services__title {
    font-size: 17px;
    color: #292f36;
    text-transform: uppercase;
    margin-bottom: 28px;
}

.services__text {
    font-size: 16px;
    color: #8d8f92;
    font-family: 'Open Sans';
    font-weight: 400;
    line-height: 26px;
}

.features {
    background: #3a454d;
}

.features__subtitle {
    padding-top: 85px;
    margin-bottom: 60px;
    color: #fff;
}

.features__subtitle:before {
    background: #4e5a62;
}

.feauteres__img {
    margin-bottom: 54px;
    width: 100%;
}

.features__title {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.features__text {
    color: #dcdfe1;
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 400;
    line-height: 26px;
}

.features__item {
    padding-bottom: 120px;
}

.contact__subtitle {
    padding-top: 64px;
    margin-bottom: 60px;
}

.contact__subtitle:before {
    top: 63%;
}

.contact__map {
    margin-bottom: 60px;
}

.contact__title {
    font-size: 16px;
    color: #292f36;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.contact__text-1,
.contact__text-2 {
    margin-bottom: 38px;
    color: #8d8f92;
    font-size: 16px;
    line-height: 26px;
}

.contact__text-2 {
    margin-bottom: 127px;
}


.contact__box {
    padding: 30px;
}


.form-control {
    margin-bottom: 30px;
    background: #eaeef1;
    font-family: 'Open Sans';
    font-weight: 400;
    outline: none;
    border-color: #ebeff2;
}

.form-control:focus {
    border-color: #23b7a4;
    box-shadow: none;
}

.contact__box-title {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    color: #8d8f92;
}

.contact__box-text {
    width: 100%;
    height: 160px;
    margin-bottom: 30px;
    background: #eaeef1;
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 400;
    padding-left: 10px;
    padding-top: 10px;
    border: none;
    border-color: #ebeff2;
    resize: none;
}

.contact__box-text:focus {
    background: #fff;
    outline-color: #23b7a4;
}

.contact__btn {
    font-size: 14px;
    color: #fff;
    height: 44px;
    width: 150px;
    line-height: 35px;
    background: #23b7a4;
    text-transform: uppercase;
    margin-bottom: 83px;
    display: block;
}

.contact__btn:hover {
    color: #fff;
}

.copy {
    background: #3a454d;
}

.copy__text {
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 400;
    color: #fff;
}

.copy__item {
    padding: 43px 0 39px;
    justify-content: space-between;
}

.copy__soicals {
    display: flex;
    justify-content: center;
}

.copy__social-link {
    color: #fff;
    margin: 0 9.5px;
    font-size: 16px;
    transition: 0.5s;
}

.copy__social-link:hover {
    color: #23b7a4;
}

.scroll-btn {
    height: 60px;
    width: 60px;
    outline: none;
    position: fixed;
    right: 3%;
    bottom: 2%;
    color: #fff;
    background: #23b7a4;
    border-radius: 50%;
    color: #fff;
    font-size: 35px;
    border: none;
    display: none;
    padding: 0;
}

.scroll-btn:focus {
    outline: none;
}